@import "tailwindcss";

:root {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}
